%p.hostname
  = fields.label :domain
  = fields.text_field :domain, :class => 'textbox domain', :maxlength => 100, :style => "width: 99.5%;"
  = fields.hidden_field :_destroy, :class => 'delete_input'